link(rel="stylesheet" href="css/pass.css")


<form>
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username"><br>

  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password"><br>

  <input type="submit" value="Войти">
</form>

script 
    include ../js/password.js
   
