extends base/_layout
block head
    title Выбор квартиры
    -
        let page = "Квартиры",
            isParams = true,
            headerInner = true

block page
    include blocks/_selection-list
    include blocks/_feedback