extends base/_layout
block head
    title Главная

block page
    include blocks/_index-hero
    include blocks/_index-about
    include blocks/_index-advantages
    include blocks/_index-exteriors
    include blocks/_index-interior
    include blocks/_feedback