section.about-history
    .container
        .about-history__title(data-aos="fade-up")
            h2.h2 Район с историей

        .about-history__grid
            .about-history__description(data-aos="fade-up")
                p Многие десятилетия в районе возводились современные многоэтажные дома, удостоенные Государственных премий: проект Олимпийской деревни, гостиница «Салют» и 33-этажный Центральный дом туриста — одно из первых высотных зданий на Юго-Западе Москвы. Поэтому формат комплекса подчёркивает сложившиеся архитектурные традиции, а внутреннее оформление дополняет современный образ клубного дома.

                p В архитектуре жилого комплекса соединились современная классика — светлые тона и натуральные материалы, и современный минимализм — просторные и светлые помещения.

            .about-history__picture.about-history__picture--first(data-aos="fade-up" data-aos-delay=100)
                .about-history__image.about-history__image--first
                    +picture('about/history-1',"jpg", true)

            .about-history__picture.about-history__picture--second(data-aos="fade-up" data-aos-delay=200)
                .about-history__image.about-history__image--second
                    +picture('about/history-2',"jpg", true)
