section.about-description
    .container
        .about-description__title(data-aos="fade-up")
            h3.h3 Современная<br> классика на&nbsp;высоте

        .about-description__info
            .about-description__info-paragraph(data-aos="fade-up") Жилой комплекс из двух башен высотностью 24 этажа, расположен в научном и интеллектуальном центре столицы. Район знаменит сочетанием современной архитектуры и природы, которая занимает 47 процентов территории.
            .about-description__info-paragraph(data-aos="fade-up" data-aos-delay="100") Эксклюзивность и престижность. Эти определения легли в основу концепции жилого комплекса «ОМ»: единственный клубный дом такого формата расположенный в Юго-Западном административном округе.
