section.about-retail
    .container
        .about-retail__grid
            .about-retail__info
                .about-retail__title(data-aos="fade-up")
                    h2.h2 Street retail

                .about-retail__description(data-aos="fade-up") На первом этаже комплекса расположено всё, чтобы создать современное и удобное пространство для проживания: супермаркет, аптека, салон красоты.

            .about-retail__picture.about-retail__picture--first(data-aos="fade-up" data-aos-delay=100)
                .about-retail__image.about-retail__image--first
                    +picture('about/retail-1', "jpg", true)

            .about-retail__picture.about-retail__picture--second(data-aos="fade-up" data-aos-delay=200)
                .about-retail__image.about-retail__image--second
                    +picture('about/retail-2', "jpg", true)

            .about-retail__picture.about-retail__picture--third(data-aos="fade-up" data-aos-delay=300)
                .about-retail__image.about-retail__image--third
                    +picture('about/retail-3', "jpg", true)