section.contacts
    .container
        .contacts__title(data-aos="fade-up")
            h1.h2 Контакты

        .contacts__description(data-aos="fade-up" data-aos-delay=100) Офис продаж

        .contacts__grid
            .contacts__phone(data-aos="fade-up" data-aos-delay=200)
                a(href="tel:+7(495)8593865") +7 (495) 859 38 65
            .contacts__address(data-aos="fade-up" data-aos-delay=100) г. Москва, Мичуринский проспект, д. 72а
            .contacts__working(data-aos="fade-up" data-aos-delay=200)
                .contacts__working-title Время работы офиса продаж:
                .contacts__working-item ПН-ПТ 9:00 — 20:00
                .contacts__working-item СБ-ВС 11:00 — 20:00

    .contacts__map(data-aos="fade-up")
        img(src="images/tmp/map.jpg" alt="")