footer.footer(data-aos="fade-in")
    .container.footer__container
        .footer__grid
            .footer__logo(data-aos="fade-in" data-aos-delay="50")
                a(href="#").logo

            .footer__menu
                .footer__menu-container
                    .footer__menu-list(data-aos="fade-in" data-aos-delay="100")
                        .footer__menu-item
                            a(href="#").footer__menu-link.footer__menu-link--bold О проекте
                        .footer__menu-item
                            a(href="#").footer__menu-link.footer__menu-link--bold Расположение
                        .footer__menu-item
                            a(href="#").footer__menu-link.footer__menu-link--bold Ипотека
                        .footer__menu-item
                            a(href="#").footer__menu-link.footer__menu-link--bold Контакты

                    .footer__menu-list(data-aos="fade-in" data-aos-delay="150")
                        .footer__menu-item
                            a(href="#").footer__menu-link.footer__menu-link--bold Квартиры
                        .footer__menu-item
                            a(href="#").footer__menu-link Подбор по параметрам
                        .footer__menu-item
                            a(href="#").footer__menu-link Выбор на плане
                        .footer__menu-item
                            a(href="#").footer__menu-link Паркинг
                        .footer__menu-item
                            a(href="#").footer__menu-link Коммерция

            .footer__booklet(data-aos="fade-in" data-aos-delay="200")
                a(href="#") Скачать буклет
            .footer__seo(data-aos="fade-in" data-aos-delay="200") Жилой комплекс ОМ - Новостройка от застройщика у метро Мичуринский проспект и Озерная.

            .footer__address(data-aos="fade-in" data-aos-delay="250")
                .footer__address-caption Офис продаж
                p г. Москва, Мичуринский проспект, д. 72а

                .footer__address-tel
                    a(href="tel:+7(495)154-46-15") +7 (495) 154-46-15

            .footer__dev(data-aos="fade-in" data-aos-delay="300")
                .footer__dev-link
                    .footer__dev-caption Разработка:
                    a(href="#").footer__dev-icon
                        +use('lu', 24, 15)

            .footer__info(data-aos="fade-in" data-aos-delay="300") Застройщик “СЗ ДОХОДНЫЙ ДОМ”.<br> Проектная декларация на сайте <a href="#">наш.дом.рф</a> . <br> <a href="">Политика безопасности</a> 
                

            .footer__offert(data-aos="fade-in" data-aos-delay="300") Любая информация, представленная на сайте, носит исключительно информационный характер и не является публичной офертой.

            .footer__copy(data-aos="fade-in" data-aos-delay="300") © ЖК ОМ, 2023