section.index-exteriors
    .container.index-exteriors__container
        .index-exteriors__grid
            .index-exteriors__header
                .index-exteriors__title(data-aos="fade-up")
                    h2.h2 Экстерьеры
                .index-exteriors__intro(data-aos="fade-up") Жилой Комплекс «ОМ» олицетворяет современный подход к строительству в сочетании с концепцией экологичности. Это выражается в зелёном дворе и элементах фасада, выполненных из природных материалов.

            .index-exteriors__picture(data-aos="fade-up")
                .index-exteriors__picture-img
                    +picture('index/exteriors/img-1','jpg', true)

            .index-exteriors__picture.index-exteriors__picture--small(data-aos="fade-up")
                .index-exteriors__picture-img
                    +picture('index/exteriors/img-2','jpg', true)

            .index-exteriors__description(data-aos="fade-up") Гранит и мрамор для облицовки фасада подобраны с учётом стиля — это натуральность и сдержанные формы без излишних украшений, современная классика, проверенная временем.