section.index-about
    .container.index-about__container
        .index-about__title(data-aos="fade-up")
            h3.h3 Клубный дом<br> на Юго-Западе Москвы

    .index-about__content
        .container
            .index-about__list
                .index-about__list-item(data-aos="fade-up")
                    .index-about__list-count 10 минут
                    .index-about__list-title до станции метро «Мичуринский проспект»

                .index-about__list-item(data-aos="fade-up" data-aos-delay="100")
                    .index-about__list-count 12 минут
                    .index-about__list-title до станции метро «Озёрная»

                .index-about__list-item(data-aos="fade-up" data-aos-delay="200")
                    .index-about__list-count 15 минут
                    .index-about__list-title до центра Москвы

                .index-about__list-item(data-aos="fade-up" data-aos-delay="300")
                    .index-about__list-count Удобный выезд
                    .index-about__list-title на Аминьевское шоссе