section.index-interior
    .container.index-interior__container
        .index-interior__grid
            .index-interior__header
                .index-interior__title(data-aos="fade-up")
                    h2.h2 Внутренняя отделка

                .index-interior__description(data-aos="fade-up") Концепция зелёного района имеет своё продолжение во входной группе. Холл выполнен из светлого искусственного камня, в интерьере присутствуют деревянные вставки и кашпо с деревьями, расположенными при входе. Натуральные элементы декора акцентируют внимание на элегантности и простоте современного минимализма.

            .index-interior__picture.index-interior__picture--first(data-aos="fade-up")
                .index-interior__image.index-interior__image--first
                    +picture('index/interior/img-1','jpg', true)

            .index-interior__picture.index-interior__picture--second(data-aos="fade-up")
                .index-interior__image.index-interior__image--second
                    +picture('index/interior/img-2','jpg', true)

            .index-interior__picture.index-interior__picture--third(data-aos="fade-up")
                .index-interior__image.index-interior__image--third
                    +picture('index/interior/img-3','jpg', true)