section.location-culture
    .container
        .location-culture__title(data-aos="fade-up")
            h2.h2 Наука и культура рядом

        .location-culture__slider.swiper#locationCultureSlider(data-aos="fade-up" data-aos-delay=100)
            .swiper-wrapper
                - let k=5
                    while k > 0
                        .swiper-slide
                            .location-culture__slider-item
                                .location-culture__slider-picture.location-culture__slider-picture--first
                                    .location-culture__slider-image.location-culture__slider-image--first
                                        +picture('location/slide-2-1',"jpg", true)

                                .location-culture__slider-picture.location-culture__slider-picture--second
                                    .location-culture__slider-image.location-culture__slider-image--second
                                        +picture('location/slide-2-2',"jpg", true)

                                .location-culture__slider-description Современный ЖК «ОМ» составляет симбиоз с развитой инфраструктурой района и позволяет его жителям прочувствовать концепцию этого места.
                        -
                            k--

        .swiper-controls#locationCultureControls(data-aos="fade-up")
            .swiper-controls__buttons
                .swiper-button.swiper-button-prev
                    .icony
                        +use('slider-prev', 23, 10)
                .swiper-button.swiper-button-next
                    .icony
                        +use('slider-next', 23, 10)
            .swiper-pagination